@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:ital,wght@0,500;1,500&display=swap');
:root {
  --color-0: #f3f9fb;
  --color-1: #87c0cd;
  --color-2: #226597;
  --color-3: #113f67;
}
html{
  font-family: 'Raleway';
}
body {
  background-color: var(--color-0);
  display: flex;
  flex-direction: column;
}
.body-container img {
  max-width: 45%;

}

.text {
  text-align: left;
  font-size: 30px;

}

.body-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 1vw;
}

.container{
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  margin: 24px;
  margin-top: 56px;
}

.container img {
  min-width: 200px;
  max-width: 300px;
  margin: 8px;
}

img {
  padding: 8px;
  background-color: var(--color-1);
  border-radius: 8px;
}

#summary {
  align-self: center;
  text-align: center;
  font-size: 52px;
  color: var(--color-2);
  margin-bottom: 16px;
}

.body-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 4;
  margin: 8px;
  height: 100%;
}

.links-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 16px;
  margin-right: 48px;
  text-align: center;
  font-size: 2vw;
}

.button-container{
  align-self: center;
  justify-content: center;
}

.button{
  font-style: none;
  font-size: 40px;
  text-decoration: none;
  color: white;
  text-align: center;
  background-color: var(--color-2);
  padding: 8px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 16px;
  margin: 8px;
  transition: 0.2s;
}

.button:hover{
  background-color: var(--color-3);
}

#portrait {
  flex-grow: 1;
}

.active {
  background-color: var(--color-1);
}

.navbar-container {
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 8px;
  margin-bottom: 16px;
  border-radius: 5px 5px 25px 5px;
  border: 0.5px gray solid;
}

.navbar-content {
  max-height: 90%;
  align-items: center;
  display: flex;
  font-family: 'Raleway';
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 15px;
  font-size: 1.3vw;
  transition: 0.2s;
  color: black;
}

.navbar-content:hover {
  background-color: var(--color-1);
}

.project {
  width: 90%;
  background-color: var(--color-1);
  border-radius: 10px;
  display: flex;
  font-family: 'Raleway';
  flex-direction: row;
  align-items: center;
  border: solid black;
  margin-bottom: 8px;
}
.project-desc {
  font-size: 24px;
  flex-grow: 1;
  /*background-color: var(--color-2);*/
  color: black;
  margin: 3px;
  border-radius: 5px;
  max-width: 33%;
}

.project-vid {
  max-height: 320px;
  flex-grow: 1;
}
.large-in-charge {
  max-width: 85%;
  max-height: 85%;
}
.whole-page {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(34, 101, 151, 0.2);
}

.scroll-top-button {
  position: fixed;
  bottom: 1%;
  right: 1%;
  font-size: 24px;
}

.guest-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 4px;
}

.guest-form-container {
  background-color: var(--color-1);
  width: 40%;
  padding: 24px;
  border-radius: 16px;
}

.msg-container {
  background-color: var(--color-2);
  width: 30%;
  border-radius: 16px;
  padding: 16px;
  margin: 24px;
  overflow-y: scroll;
  max-height: 40vw;
}

.msg {
  background-color: white;
  padding: 8px;
  box-shadow: 4px 4px 4px grey;
  display: flex;
  margin: 4px;
  flex-direction: column;
  justify-content: flex-start;
}

.subtitle {
  font-size: 12px;
  color: grey;
}

input {
  margin: 8px;
}
.movie-poster {
  margin: 4px;
  max-width: 25%;
  transition: 0.2s;
}
.movie-poster:hover {
  background-color: var(--color-2);
}
